$primary: green;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Press+Start+2P&family=VT323&display=swap');
$font-family: 'Press Start 2P', serif;
$bg-body-color: $black;
$box-color: $black;
$font-color: rgb(199, 199, 199);
body {
  background-color: $bg-body-color;
  color: rgb(72, 255, 0);
  background-image: url("https://i.ytimg.com/vi/HxjjK8QXA9c/maxresdefault.jpg");
  background: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}
nav {
  position: absolute;
  justify-content: left;
  display: flex;
  margin: 30px 20px 0px 20px;
}
input {
  display: flex;
  margin: auto;
}
p {
  margin: auto;
  font-family: $font-family;
  font-size: 35px;
}
.container {
    padding: 20px 0px 20px 0px;
    justify-content: center;
    margin: auto;
}
.game {
  height: 180px;
  width: 400px;
  background-color: $black;
  border: $black;
}
form {
  font-family: $font-family;
  margin: 15px;
}
button {
  font-family: $font-family;
  background-color: black;
  color: rgb(199, 199, 199);
  border-color: green;
  // margin: 20px;
  align-items: right;
  size: 150%;
}
input {
  background-color: black;
  border-color:green;
  color: rgb(199, 199, 199);
}
.box {
  align-items: center;
  background-color: $box-color;
  border: 1px solid rgb(199, 199, 199);
  color: $font-color;
  display: flex;
  font-family: $font-family;
  height: 200px;
  justify-content: center;
  font-size: 108px;
}
.row {
    width: 800px;
    justify-content: center;
    align-items: center;
    color: rgb(199, 199, 199);
    font-size: 108px;
    margin: auto;
    // margin: 0px 0px 0px 300px;
}
h1, h2, h3 {
  font-family: $font-family;
}